.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4c56b3;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  