.container {
    width: 90%;
    margin: 35px auto 0;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: oblique;
    color: #020547;
    position: relative;
    margin-bottom: 10px;
}

.container h2 {
    text-align: center;
    color: #042b50;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container h2:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1), transparent);
}

.container:not(:first-child)::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #d3d3ec;
}

body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #d3d3ec;
}

h2 {
    text-align: center;
}

.small-info {
    font-size: 12px;
    color: #888;
    margin-left: 16px;
    margin-bottom: 0%;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.LiveGpsDataFetchPage form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.required-label::after {
    content: "*";
    color: red;
    margin-left: 1px
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.LiveGpsDataFetchPage form input,
.LiveGpsDataFetchPage form select {
    width: 40%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.5px solid #020547;
    outline: none;
    background-color: #f2f2f2;
}

.LiveGpsDataFetchPage form div.full-width {
    margin-right: 0;
}

.LiveGpsDataFetchPage form .form-group {
    flex: 0 0 calc(48% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

.LiveGpsDataFetchPage form label {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 20px;
    color: #333;
}

.LiveGpsDataFetchPage form .form-buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.LiveGpsDataFetchPage form button {
    background-color: #0de732;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 1000px;
}

.LiveGpsDataFetchPage form button.cancel-button {
    background-color: #808080;
    color: #f1eaea;
    border: 1px solid #f5f0f0;
    margin-left: 10px;
}

.LiveGpsDataFetchPage form button.refresh-button {
    background-color: #ee612e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.wrapper {
    display: flex;
}

/* Making the form responsive */
@media screen and (max-width: 768px) {
    .LiveGpsDataFetchPage form div {
        flex: 100%;
        margin-right: 0;
    }

    .LiveGpsDataFetchPage form button,
    .LiveGpsDataFetchPage form button.cancel-button {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}

.table-container {
    overflow-x: auto;
    /* Enable horizontal scrolling if needed */
}

.table-container table {
    border-collapse: collapse;
    /* Collapse borders */
    width: 100%;
    /* Set table width to 100% */
    border: 1px solid #ddd;
    /* Add border to table */
}

.table-container th,
.table-container td {
    border: 1px solid #ddd;
    /* Add border to table cells */
    padding: 8px;
    /* Add padding to cells */
    text-align: left;
    /* Align text to the left */
}

.table-container th {
    background-color: #f2f2f2;
    /* Add background color to header cells */
}

.table-wrapper {
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    width: 100%; /* Set wrapper width to 100% */
}

.table-wrapper table {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Set table width to 100% */
    border: 1px solid #ddd; /* Add border to table */
    white-space: nowrap; /* Prevent table cell content from wrapping */
}
