.container {
    max-width: 1300px;
    margin: 0 auto;
    background-color: #f8f8ee;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(236, 198, 198, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: oblique;
    color: #020547;
    position: relative;
  }

  .container h2 {
    margin-top: 50px;
  }

  .container h2:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1), transparent);
  }

  .container:not(:first-child)::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #d3d3ec;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #d3d3ec;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4c56b3;
    overflow: hidden;
    z-index: 1000;
    height: 60px;
  }
  
  .navbar a {
    display: inline-block;
    color: rgb(84, 48, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 32px;
    color: #040768;
    -webkit-text-stroke: 1px #fafafa;
    position: relative;
    z-index: 2;
    height: 100%;
  }
  
  .navbar .brand-text {
    display: inline-block;
    color: rgb(97, 3, 3);
    text-decoration: none;
    font-weight: bolder;
    font-size: 34px;
    color: #040761;
    -webkit-text-stroke: 1px #62baf5;
    padding: 14px 16px;
    font-family: 'Verdana', sans-serif;
    font-style: italic;
  }
  
  .navbar .brand-text span {
    text-shadow: 5px 10px 20px rgba(225, 236, 209, 0.753);
  }
  
  .AssetInfoForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
  }
  
  .logo {
    height: 50px;
    width: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    border-radius: 50%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(243, 236, 236, 0.5);
    background-color: #9bb7f5;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .AssetInfoForm form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  
  .AssetInfoForm form input,
  .AssetInfoForm form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .AssetInfoForm form > div {
    flex: 0 0 calc(25% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .AssetInfoForm form div.full-width {
    margin-right: 0;
  }
  
  .AssetInfoForm form .form-buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .AssetInfoForm form button {
    background-color: #0de732;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 1000px;
  }
  
  .AssetInfoForm form button.cancel-button {
    background-color: #808080;
    color: #f1eaea;
    border: 1px solid #f5f0f0;
    margin-left: 10px;
  }
  
  .wrapper {
    display: flex;
  }
  
  .scrollable-container {
    max-height: 600px;
    overflow-y: auto;
    flex: 1;
  }
  
  /* Making the form responsive */
  @media screen and (max-width: 768px) {
    .AssetInfoForm form div {
      flex: 100%;
      margin-right: 0;
    }
    .AssetInfoForm form button,
    .AssetInfoForm form button.cancel-button {
      width: 100%;
      margin-left: 0;
      margin-top: 10px; /* Adding margin to separate buttons on small screens */
    }
  }