.container {
    width: 90%;
    margin: 35px auto 0;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: oblique;
    color: #020547;
    position: relative;
    margin-bottom: 10px;
  }
  
  .container h2 {
    text-align: center;
    color: #042b50;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .container h2:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1), transparent);
  }

  .container:not(:first-child)::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #d3d3ec;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #d3d3ec;
  }
  
  h2 {
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .AssetDeviceMappingForm form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .required-label::after {
    content: "*";
    color: red;
    margin-left: 1px
  }

  .AssetDeviceMappingForm form input,
  .AssetDeviceMappingForm form select {
    width: 40%;
    padding: 8px;
    box-sizing: border-box;
    border: none; 
    border-bottom: 0.5px solid #020547; 
    outline: none;
    background-color: #f2f2f2;
  }
  
  .AssetDeviceMappingForm form div.full-width {
    margin-right: 0;
  }

  .AssetDeviceMappingForm form .form-group {
    flex: 0 0 calc(48% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .AssetDeviceMappingForm form label {
    display:inline-block;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 20px;
    color: #333;
  }
  
  .AssetDeviceMappingForm form .form-buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .AssetDeviceMappingForm form button {
    background-color: #08ca29;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 800px;
  }
  
  .AssetDeviceMappingForm form button.cancel-button {
    background-color: #808080;
    color: #f1eaea;
    border: 1px solid #f5f0f0;
    margin-left: 10px;
  }

  .AssetDeviceMappingForm form button.refresh-button {
    background-color: #ee612e; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .wrapper {
    display: flex;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4c56b3;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4c56b3;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  /* Making the form responsive */
  @media screen and (max-width: 768px) {
    .AssetDeviceMappingForm form div {
      flex: 100%;
      margin-right: 0;
    }
    .AssetDeviceMappingForm form button,
    .AssetDeviceMappingForm form button.cancel-button {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }