body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.mandatory::after {
    content: " *";
    color: red;
}

.navbar {
    background-color: #4c56b3;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(84, 48, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    color: #040768;
    -webkit-text-stroke: 1px #fafafa;
}

.VehicleForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    height: 100px; 
    width: 100px; 
  }
