.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #d3d3ec; /* Set your desired background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #c2ddf7;
}

h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.mandatory::after {
    content: " *";
    color: red;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4c56b3;
    overflow: hidden;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(84, 48, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    color: #040768;
    -webkit-text-stroke: 1px #fafafa;
}

.VehicleForm {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

.logo {
    height: 50px; 
    width: 50px; 
    margin-top: 8px;
    margin-bottom: 4px;
  }

  .VehicleForm form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .VehicleForm form div {
    width: calc(25% - 10px); /* 10px is the combined margin between the divs */
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Adjust the input width as needed */
  .VehicleForm form input,
  .VehicleForm form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .VehicleForm form div.full-width {
    width: 100%;
  }