.logo {
    height: 50px;
    width: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    border-radius: 50%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(243, 236, 236, 0.5);
    background-color: #3871eb;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  .menu-container {
    margin-right: 10px;
  }
  
  .navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #4c56b3;
    color: white;
    z-index: 2;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
  }
  
  .navbar-main a {
    display: inline-block;
    color: rgb(84, 48, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 32px;
    color: #040768;
    -webkit-text-stroke: 1px #fafafa;
    position: relative;
    z-index: 2;
    height: 100%;
  }
  
  .navbar-main .brand-text {
    display: inline-block;
    color: rgb(97, 3, 3);
    text-decoration: none;
    font-weight: bolder;
    font-size: 40px;
    color: #030544;
    -webkit-text-stroke: 1px #fac0ca;
    padding: 1px 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
  }
  
  .navbar-main .brand-text span {
    text-shadow: 5px 10px 20px rgba(225, 236, 209, 0.753);
  }
  
  .content-container {
    padding: 20px;
  }

  .menu-button {
    background-color: #cde5f3;
    color: rgb(14, 11, 196);
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(243, 237, 237, 0.2);
    position: relative;
    z-index: 2;
  }
  
  .menu-button:hover {
    background-color: #54b5ee;
  }
  
  .dropdown-container {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: auto;
    max-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: background-color 0.3s;
  }
  
  .dropdown-trigger:hover .dropdown-content,
  .menu-container:hover .dropdown-content {
    display: flex;
  }
  
  .menu-container:hover .menu-button {
    background-color: #54b5ee;
  }
  